<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>EJERCICIOS KEGEL</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">

    <header>
      <div class="title">
        <h1>
          EJERCICIOS KEGEL PARA HOMBRES
        </h1>
      </div>
    </header>

    <section>
      <div class="details">
        <p class="explanation">
          Uno de los ejercicios básicos de KEGEL para hombres.
          El ejercicio consiste en contraer los músculos durante 1 segundo y relajar durante 5 segundos.
          <br/>
          El ejercicio va a constar de 10 repeticiones con una duración total de 60 segundos
        </p>
        <p class="exercise_total_time">
          <strong>Duración total del ejercicio:</strong> 60 segundos
        </p>
        <p class="repeat">
          <strong>Repeticiones del ejercicio:</strong> 10
        </p>
      </div>
      <div class="flex-container">
        <button class='btn btn-green margin5pc'>EMPEZAR</button>
        <button class='btn btn-green margin5pc'>FINALIZAR</button>
      </div>
      <div class="box-doble-cara full-size">
        <div class="box transition-normal">
          <div class="cara full-size">
            <div class="div-instrucciones full-size contraer">CONTRAER</div>
          </div>
          <div class="cara detras full-size">
            <div class="div-instrucciones full-size relajar">RELAJAR</div>
          </div>
        </div>
      </div>
      <div class="exercise_signals">
        <div class="flex-container exercise_replay_circles">
          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="exercise_replay_circle  margin5pc">
            <div class="box-doble-cara tiny-size">
              <div class="box transition-fast">
                <div class="cara">
                  <div class="circle-green tiny-size"></div>
                </div>
                <div class="cara detras">
                  <div class="circle-red tiny-size"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="exercise_time">
          <strong>Tiempo transcurrido de ejercicio:</strong> 12 segundos
        </p>
        <div class="exercise_replay_count">
          <strong>Repeticiones del ejercicio realizadas:</strong> 3 repeticiones
        </div>
      </div>
    </section>

    <footer>
      <strong>Copyright by kegelhombres.es</strong>
    </footer>

  </div>
</body>
</html>
